.popup__form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* padding-top: 20px; */
}

@media screen and (max-width: 767px) {
  .popup__form {
    /* padding-top: 45px; */
  }
}
