.profile__add-button {
  width: 150px;
  height: 50px;
  margin-left: auto;
  padding: 0;
  background-image: url('../../../images/button-add_.svg');
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  border: 1px solid white;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    margin: 36px 0 0;
    background-size: 16px;
    width: 282px;
  }
}
