/* ======= VENDOR SYLES AND FONTS ======= */

@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');

/* ======= PAGE STYLES ======= */

@import url('../blocks/page/page.css');

/* ======= COMMON STYLES ======= */
@import url('../blocks/button/button.css');

/* ======= HEADER STYLES ======= */

@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');

/* ======= PROFILE STYLES ======= */

@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__info/profile_info.css');
@import url('../blocks/profile/__username/profile__username.css');
@import url('../blocks/profile/__edit-button/profile__edit-button.css');
@import url('../blocks/profile/__description/profile__description.css');
@import url('../blocks/profile/__add-button/profile__add-button.css');

/* ======= ELEMENTS STYLES ======= */

@import url('../blocks/elements/elements.css');
@import url('../blocks/elements/__card/elements__card.css');
@import url('../blocks/elements/__photo/elements__photo.css');
@import url('../blocks/elements/__description/elements__description.css');
@import url('../blocks/elements/__photo-name/elements__photo-name.css');
@import url('../blocks/elements/__like-button/elements__like-button.css');
@import url('../blocks/elements/__trash-button/elements__trash-button.css');

/* ======= POPUP STYLES ======= */

@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/popup/__container/popup_container.css');
@import url('../blocks/popup/__form/popup__form.css');
@import url('../blocks/popup/__heading/popup__heading.css');
@import url('../blocks/popup/__input-field/popup__input-field.css');
@import url('../blocks/popup/__submit-button/popup__submit-button.css');
@import url('../blocks/popup/__close-button/popup__close-button.css');

/* ======= FOOTER STYLES ======= */

@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__info/footer__info.css');
