.popup__photo {
  max-height: calc(100vh - 180px);
  max-width: calc(100vw - 464px);
}

@media screen and (max-width: 1279px) {
  .popup__photo {
    max-width: calc(100vw - 200px); */
  }
}

@media screen and (max-width: 767px) {
  .popup__photo {
    max-height: calc(100vh - 80px);
    max-width: calc(100vw - 120px);
  }
}

@media screen and (max-width: 425px) {
  .popup__photo {
    max-height: calc(100vh - 80px);
    max-width: calc(100vw - 80px);
  }
}